# Default values for minio-operator.

operator:
  image:
    repository: "{{ op_minio_operator.image_op_repository }}"
    tag: "{{ op_minio_operator.image_op_tag }}"
    pullPolicy: "{{ general.image_pullPolicy }}"
  imagePullSecrets: []
  replicaCount: 1
  securityContext:
    fsGroup: 1000
    runAsUser: 1000
    runAsGroup: 1000
    runAsNonRoot: true
  resources:
    requests:
      cpu: 200m
      memory: 256Mi
      ephemeral-storage: 500Mi

console:
  image:
    repository: "{{ op_minio_operator.image_co_repository }}"
    tag: "{{ op_minio_operator.image_co_tag }}"
    pullPolicy: "{{ general.image_pullPolicy }}"
  replicaCount: 1

