{
    "name": "KEYCLOAK",
    "configuration": {
        "clientId": "{{ IDM_CLIENT.GRAVITEE }}",
        "clientSecret": "{{ IDM_CLIENT_SECRET_GRAVITEE }}",
        "tokenEndpoint": "https://idm.{{ DOMAIN }}/auth/realms/{{ inv_idm.keycloak.realm_name }}/protocol/openid-connect/token",
        "tokenIntrospectionEndpoint": "https://idm.{{ DOMAIN }}/auth/realms/{{ inv_idm.keycloak.realm_name }}/protocol/openid-connect/token/introspect",
        "authorizeEndpoint": "https://idm.{{ DOMAIN }}/auth/realms/{{ inv_idm.keycloak.realm_name }}/protocol/openid-connect/auth",
        "userInfoEndpoint": "https://idm.{{ DOMAIN }}/auth/realms/{{ inv_idm.keycloak.realm_name }}/protocol/openid-connect/userinfo",
        "userLogoutEndpoint": "https://idm.{{ DOMAIN }}/auth/realms/{{ inv_idm.keycloak.realm_name }}/protocol/openid-connect/logout?redirect_uri=",
        "color": "#0076b4",
        "scopes": ["openid", "profile"]
    },
    "enabled": true,
    "groupMappings": [],
    "userProfileMapping": {
        "id": "sub",
        "firstname": "given_name",
        "lastname": "family_name",
        "email": "email",
        "picture": "picture"
    },
    "emailRequired": false,
    "syncMappings": true
}
